<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="jdbc.properties">
		<!--
		<property name="driver" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?userUnicode=true&amp;characterEncoding=utf8"/>
		<property name="urlProd" value="jdbc:mysql://127.0.0.1:3306/urlProd?userUnicode=true&amp;characterEncoding=utf8"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
		-->
	</properties>
	
	<settings>
		<!--缓存这里写为false后，StudentMapper.xml的select中得加上flushCache="true" 才可以去除缓存-->
		<setting name="cacheEnabled" value="false"/>
	</settings>
	
	<!--别名-->
	<typeAliases>
		<!--
		<typeAlias type="com.maiziedu.demo.mybatis.bean.Student" alias="Student"/>
		-->
		<package name="com.maiziedu.demo.mybatis.bean"/>
	</typeAliases>
	
	<!--自定义的类型转换器(typeHandler)。 继承BaseTypeHandler-->
	<typeHandlers>
	    <typeHandler handler="com.maiziedu.demo.mybatis.typehandler.MyDemoTypeHandler" javaType="String" jdbcType="INTEGER"/>
	</typeHandlers>
	
	<!--默认的对象工厂，也就是创建对象，通过反射实现。 继承DefaultObjectFactory-->
	<objectFactory type="com.maiziedu.demo.mybatis.objfactory.DemoObjFactory">
		<property name="name" value="cf"/>
	</objectFactory>
	
	<!--显示SQL插件。继承Interceptor-->
	<!---->
	<plugins>
		<plugin interceptor="com.maiziedu.demo.mybatis.plugin.ShowSqlPlugin">
			<property name="someProperty" value="100" />
		</plugin>
		
		<plugin interceptor="com.maiziedu.demo.mybatis.plugin.page.PageSupportPlugin">
			<property name="databaseType" value="mysql"/>
		</plugin>
		
	</plugins>
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
		
		<environment id="prod">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${urlProd}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>

	</environments>
	
	<!--多数据源-->
	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL_SERVER" value="sqlserver"/>
		<property name="DB2" value="db2"/>
		<property name="Oracle" value="oracle"/>
	</databaseIdProvider>
	
	<!--映射文件-->
	<mappers>
		<!--  <mapper resource="com/maiziedu/demo/mybatis/mapper/StudentMapper.xml" />-->
		<!-- <mapper class="com.maiziedu.demo.mybatis.mapper.StudentMapper"/>  -->
		<package name="com.maiziedu.demo.mybatis.mapper"/>
	</mappers>
	
</configuration>
