<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiziedu.demo.mybatis.mapper.StudentMapper">
	
	<resultMap id="studentResult" type="Student1">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="brt" column="birthday"/>
		<result property="gender" column="gender" javaType="String" jdbcType="INTEGER"/>
	</resultMap>
	
	<!--Student 别名   java.lang.Long 为long      resultType="Student1"     resultMap="selectStudentResult"-->
	<select id="selectStudent" parameterType="long" resultMap="studentResult" flushCache="true">
		select 
		id, 
		name, 
		birthday as brt,
		gender
		
		from Student where ID in (1, 2, 3)
	</select>
	
	<!-- databaseId="sqlserver" -->	
	<select id="queryStudentByIds" resultMap="studentResult">
	select 
		id, 
		name, 
		birthday as brt,
		gender
		
		from Student where ID in 
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	
	</select>
	
	<select id="queryStudentByName" parameterType="Student1" resultMap="studentResult">
		<bind name="pattern" value="'%' + _parameter.getName() + '%'"/>
	select 
		id, 
		name, 
		birthday as brt,
		gender
		
		<!-- from Student where name like '%${name}%' -->
		from Student where name like #{pattern}
	</select>
	
	<select id="listAllStudents" resultType="Student1" parameterType="Student1">
      <!--  select count(*) from ( -->
       	select 
       		id,
       		name,
       		birthday as brt,
       		gender
       	from
       		Student<!-- ) as temp -->
    </select>
    
    <select id="getTop3Student" resultType="Student1" parameterType="Student1">
       select
       	id,
       	name,
       	birthday as brt
       from
       	Student order by birthday desc limit #{page.pageNo}, #{page.pageSize}
    </select>

    <select id="getStudent" parameterType="int" resultType="Student1">
        select id,name,birthday from student where id = #{id};
    </select>
    
    
	
	<insert id="insertStudent" parameterType="Student1">
		insert into Student(id, name, birthday, gender) values(#{id}, #{name}, #{birthday},
			 #{gender, javaType=String, jdbcType=INTEGER, typeHandler=com.maiziedu.demo.mybatis.typehandler.MyDemoTypeHandler})
	</insert>
	
	<update id="updateStudent" parameterType="Student1">
		update Student 
		<set>
			<if test="name != null">
				name = #{name}
			</if>
			<if test="brt != null">
				, birthday = #{brt}
			</if>
			where id = #{id}
		</set>
		<!-- set name = #{name} where id = #{id} -->
	</update>
	
	<delete id="deleteStudent" parameterType="Student1">
		delete from Student where id = #{id}
	</delete>
	
</mapper>